@{
    ViewBag.Title = "Home Page";
}

<link href="~/StyleSheet.css" rel="stylesheet" />

<body id="homepage">
<div class="homepageContainer" id="homepageDiv">
    <img src="/Images/HomePageImg.png" alt="LPLHomeImage" style="width:100%;">
    <div class="centered">Library Card Database</div>
    <p><a href="/Patron/Index" class="btn btn-primary" id="buttonOnImage">Click Here to View the Patron List</a></p>
</div>
@*<div class ="littlespace"></div>
<div class="textBlock">
    <h1>Welcome to LPL Library Cards!</h1><br/>
    This website pulls information from Sierra to quickly create a library card form for new patrons,
    and provides us with a new place to store and access old forms.
    Click on Patron List above to view the database, or to enter a new patrons information.
</div>*@
</body>