@{
    ViewBag.Title = "Home Page";
}

<link href="~/StyleSheet.css" rel="stylesheet" />

<body id="homepage">
<div class="homepageContainer" id="homepageDiv">
    <img src="/Images/HomePageImg.png" alt="LPLHomeImage" style="width:100%;">
    <div class="centered">Library Card Database</div>
    <p><a href="/Patron/Index" class="btn btn-primary" id="buttonOnImage">Click Here to View the Patron List</a></p>
</div>
</body>